#content{
    margin:auto;
    
    width: 400px;
    height: 200px;
    border:2px solid peachpuff;
    background-color: peachpuff
}
#button{
    background-color: yellow;
}
#buttonn{
    background-color: green
}
